.banner {
    background-image: linear-gradient(-225deg, rgba(141, 123, 104, 0.8) 0%, rgba(141, 123, 104, 0.8) 50%), url(../../images/banner.jpeg);
    color: white;
    padding: 50px 0px;
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;
}

.banner h1 {
	font-size: 50px;
}

.banner h2 {
	font-size: 25px;
	font-weight: lighter;
	margin-bottom: 40px;
}

